/*All browser sizes*/
* {
    box-sizing: border-box;
}

body {
    background-image: url("images/foodie-quiz-background-2.png");
    background-color: #E8F1F8;
    background-size: 100%;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pageHeader, .startQuiz {
    text-align: center;
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.bodyArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.scoreKeeper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

button {
    border: 0px;
    padding: 0px;
    height: 40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    color: #222F3F;
    background-color: transparent;
    font-size: 15px;
    border: 2px solid #222F3F;
    border-radius: 3px;
    font-weight: bold;
}

button:focus {
    outline:0;
}

.startButton {
    margin-top: 50px;
}

.startButton:hover {
    width: 355px;
    height: 42px;
}

form {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #222F3F;
    border-radius: 3px;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-bottom: 60px;
}

.submitButton {
    background-color: #E8F1F8;
    bottom: -20px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.radio-land {
    position: relative;
}

.radio-land input {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20%;
    top: 0;
}

.radio-land .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #E8F1F8;
    border: 2px solid #222F3F;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    top: 0;
}

.radio-land .circle:hover {
    background-color: #222F3F;
  }

.radio-land input:checked + .circle {
    background-color: #222F3F;
}

h1, h2, h3, p {
    color: #222F3F;
}

h1 {
    font-size: 45px;
}

h2, h3 {
    font-size: 25px;
}

h3 {
    margin-bottom: 0px;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

label {
    font-size: 20px;
}

.questionHeadline {
    font-size: 25px;
}

.css-wrongAnswer {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.nextButton {
    margin-top: 10px;
}

.css-rightAnswer {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.answerGifs {
    width: 100%;
}

.finalScore {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.style {
    font-weight: bold;
}

@media only screen and (max-width: 475px) {
    .bodyArea {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .radio-land input {
        left: 10%;
    }
    
    .radio-land .circle {
        left: 10%;
    } 

    .pageHeader, .startQuiz {
        max-width: 350px;
    }

    h1 {
        font-size: 35px;
    }

    h2, h3 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    button {
        width: 250px;
    }
    
    .radio-land input {
        left: 5%;
    }
    
    .radio-land .circle {
        left: 5%;
    } 
}